*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    transition:1s;
  }
  .main{
      width:100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
     
  }
  .container{
    width:200px;
    height:100px;
    background-color: #fff;
    background-image:linear-gradient(white,rgb(76, 73, 73)) ;
  }
  #btn{
    background-color: rgb(59, 57, 57);
    color: white;
    border-radius: 10px;
  }